<!DOCTYPE html>
<html> 
<head>
    <title>Birthday Reminder app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <style>

    </style> -->
</head>

<body>
 <h2> Birthday Reminder app</h2>
 <form action="/add" method="post">
    <input type ="text" name="username" placeholder="Username" required/>
    <input type="email" name="email" placeholder="Email" required/>
    <input type="date" name="dob" placeholder="Date of Birth"/>
    <button type="submit">Add Birthday</button>
 </form>
</body>
</html>
